{% extends "base.html" %} {% load widget_tweaks %} {% load static %}
{% block content %}

<div class="body">
  <div class="container_1">
    <table class="striped">
      <tr>
        <th></th>
        <th>Hostname</th>
        <th>Status</th>
        <th>Report</th>
        <th>Message</th>
      </tr>
      {% for report in report_list %}
      <tr>
        <th>{{forloop.counter}}</th>
        <th>{{report.hostname}}</th>
        <th>{{report.status}}</th>
        {% if report.file %}
        <th><a href="{{ report.file.url }}" download="{{ report.file.url }}">
          <img src="{% static 'images/files.png' %}" height="25" width="25"></a></th>
        {% else %}
        <th>No file</th>
        {% endif %}
        <th>{{report.message}}</th>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<script src="{% static 'js/hogan.js' %}"></script>
<script src="{% static 'js/hogan.min.js' %}"></script>
{% endblock content %}